@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;700&family=Roboto:wght@100;400;700&display=swap');

nav {
    display: flex;
    font-family: roboto;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    position: fixed;
    width: 100%;
    background-color: #05242E;
    z-index: 1;
}

.logo {
    margin-left: 88px;

    @media (max-width: 750px) {
        margin-left: 16px;
     }
}

.outerSearchContainer{
    margin-right: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 750px) {
        margin-right: 16px;
     }
}

.searchContainer{
   border: none;
   border-radius: 40px;
   margin: 0;
   display: flex;
}

.searchButton {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding-top: 8px;
    :hover {
        transform: scale(1.1);
        transition: transform ease-in-out 0.3s;
    }
}

.searchBar {
    text-decoration: none;
    border: none;
    margin: 0 8px;
    padding: 8px;
    font-family: Roboto;
    font-weight: 100;
    color: #05242E;
    border-radius: 5px;
    border: 1px solid transparent;
    font-size: 14px;
    background-color: #EEF1D2;
    box-shadow: inset 4px 4px 4px #D2D5B9;

    @media (max-width: 750px) {
        position: absolute;
        right: 8px;
        width: 216px;
     }
}

.searchBar:focus {
    outline: none;
}

.link {
    color: #F7F9EF;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    margin-left: 8px;
}   

.linksub {
    text-decoration:solid;
    border-radius: 8px;
    font-size: 16px;
    margin-left: 8px;
    box-sizing: border-box;
    transition: 0.1s ease-in-out;
    color: #003327;
    background-color: #C4CB48;
    padding: 4px 16px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #003327;
}   

.linksub:hover {
    color: #C4CB48;
    background-color: #05242E;
    border: 1px solid #C4CB48;
}


.overlay {
    font-size: 12px;
    width: 140px;
    position: absolute;
    background-color: #F7F9EF;
    margin-left: 38px;
    margin-top: 32px;
    padding: 8px;
    display: flex;
    flex-direction: column;

    @media (max-width: 750px) {
        width: 216px;
        margin-left: 34px;
     }
}

.search-result {
    all: unset;
    color: #05242E;
    padding: 16px 0;
    border-bottom: 1px solid #003327;
}

.search-result:last-child {
    border-bottom: none;
}

.search-result:hover {
    color: #C4CB48;
}