@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;700&family=Roboto:wght@100;400;700&display=swap');

body {
    margin: 0;
    background-color: #F7F9EF;
    font-family: Roboto;
}

.hero {
    background-color: #05242E;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

h1 {
    color: #F7F9EF;
    font-family: caveat;
    font-size: 13vw;
    font-weight: 700;
    margin: 0;
    @media (max-width: 500px) {
        font-size: 60px;
    }
}

h2 {
    color: #F4FEFC;
    font-family: Roboto;
    font-weight: 100;
    font-size: 3vw;
    margin: 0;
   
}

h3 {
    display: flex;
    justify-content: center;
    color: #05242E;
    font-family: caveat;
    font-size: 48px;
    margin: 0;
}

footer {
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F7F9EF;
    background-color: #05242E;
    height: 120px;
    font-family: roboto;
    font-weight: 100;
    text-decoration: none;
    bottom: 0;
    left: 0;
    right: 0;
}

footer a {
    text-decoration: none;
    color: #F7F9EF;
}

footer span, footer a {
    margin: 0 5px;
}

.subContainer {
    display: flex;
    justify-content: center;
    padding: 0 140px;

    @media (max-width: 1000px) {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
}

.heroImage {
    max-width: 472px;   
    @media (max-width: 1000px) {
        order: 2;
    }
}

.heroSubtitle {
    text-align: right;
    padding-top: 40px;

    @media (max-width: 1000px) {
        padding: 0;
        order: 1;
        text-align: center;
        max-width: 100%;
        margin-bottom: 16px;
        font-size: 20px;
    }
}

#articles {
    margin-top: 100px;
}

.article-card {
    color: #05242E;
    display: flex;
    height: 600px;
    background-color: #FFFF;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 4px 4px 4px #D6D8CF;
    max-width: 380px;
    overflow: hidden;
}

.article-content {
    padding: 22px;
}
.article-card:hover {
    transform: scale(1.01);
    transition: transform 0.3s ease;
}

.article-image {
    object-fit: cover;
}

.article-image img {
    width: 100%;
}

.articles-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 48px;
}


.article-details-container {
    border-bottom: 4px solid #C3CA47;
    padding: 0;
    padding-top: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    font-weight: 100;
}

.article-likes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25px;
}

.likeCount {
    padding-right: 5px;
}

.truncate-span {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.button-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.primary-button {
    color: #003327;
    background-color: #C4CB48;
    padding: 4px 16px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 300;
    border: 1px solid #003327;
    text-decoration: none;
}

.primary-button:hover {
    color: #C4CB48;
    background-color: #05242E;
    border: 1px solid #C4CB48;
    transition: color, background-color 0.3s ease-in-out;
}

.primary-button:disabled {
    opacity: 0.3;
}

.primary-button:disabled:hover {
    color: #003327;
    background-color: #C4CB48;
    border: 1px solid #003327;

}

.article-card:hover .primary-button {
    color: #C4CB48;
    background-color: #05242E;
    border: 1px solid #C4CB48;
    transition: color, background-color 0.3s ease-in-out;
}

.article-card:hover .article-details-container {
    border-bottom: 4px solid #05242E;
    transition: border-bottom 0.3s ease-in-out;
}




.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C4CB48;
    margin-top: 100px;
    padding: 80px 16px;
    line-height: 1.5;

    @media (max-width: 650px) {
       flex-direction: column;
       padding: 80px 24px;
    }
}

.about-content {
    max-width: 480px;
    margin-bottom: 16px;
    margin-left: 40px;

    @media (max-width: 1000px) {
    width: 100%;
       margin-left: 24px;
    }
}

.about-image {
    max-width: 472px;   
    @media (max-width: 650px) {
        order: 2;
    }
}

.article-link {
    text-decoration: none;
    color: #05242E;
}

.subscribe-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 300px 0;
}

input {
    font-family: roboto;
}
  
  .input-group input[type="email"] {
    display: flex;
    flex-direction: column;
    width: 280px;
    font-family: Roboto;
    font-weight: 100;
    color: #05242E;
    padding: 10px; 
    margin-bottom: 10px; 
    border-radius: 5px;
    border: 1px solid transparent;
    font-size: 16px;
    background-color: #EEF1D2;
    box-shadow: inset 4px 4px 4px #D2D5B9;
  }

  .input-group input[type="email"]:focus {
    outline: none;
  }

  .input-error {
    font-weight: 500 !important;
    color: red !important;
  }

  .input-success {
    font-weight: 500 !important;
  }

  .subscribe-container p {
      color: #05242E;
      max-width: 550px;
      font-weight:300;
      margin: 50px 0;
    }
    
    h4 {
        font-size: 22px;
        font-weight: 400;
        flex-wrap: wrap;
        margin: 0;
        height: 68px;
    }


    .spinner {
        border: 4px solid rgba(0, 0, 0, 0.1);
        width: 36px;
        height: 36px;
        border-radius: 50%;
        border-left-color: #E9E9E9;
        margin: 55px;
      
        animation: spin 1s ease infinite;
      }
      
      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
      
    
    .loading {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
    }

    .error-container {
        padding-top: 100px;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }

    .error-title {
        color: #05242E;
        font-family: Roboto;
        font-size: 40px;
    }